*.pyc

*.dat
*.pkl
*.ipynb

bin/
model_save/
data/
graphs/
**/graphs/
**/min_dfscodes/
**/min_dfscode_tensors/
tensorboard/
tmp/
images/

__pycache__
**/__pycache__

.vscode/

.ipynb_checkpoints
**/.ipynb_checkpoints

